<main>
    <div class="profile-card" *ngIf="githubData">

    <img
        class="profile-img"
        [src]="githubData.avatar_url"
        alt="Foto de perfil"
    >

    <h1 class="profile-name">
        {{ githubData.name }}
    </h1>

    <p class="profile-text">
        Usuario: {{ githubData.login }}
    </p>

    <p class="profile-text">
        {{ githubData.bio }}
    </p>

    <p class="profile-text">
        Repositorios públicos: {{ githubData.public_repos }}
    </p>

    <p class="profile-text">
        Seguidores: {{ githubData.followers }}
    </p>

    <a
        class="profile-btn"
        [href]="githubData.html_url"
        target="_blank"
    >
        Ver GitHub
    </a>

</div>
</main>