<main>
  <div class="profile-card" *ngIf="githubData">

    <img
        class="profile-img"
        [src]="githubData.avatar_url"
        alt="Foto de perfil"
    >

    <h1 class="profile-name">
        {{ githubData.name }}
    </h1>

    <p class="profile-text">
        Usuario: {{ githubData.login }}
    </p>

    <p class="profile-text">
        {{ githubData.bio }}
    </p>

    <p class="profile-text">
        Repositorios públicos: {{ githubData.public_repos }}
    </p>

    <p class="profile-text">
        Seguidores: {{ githubData.followers }}
    </p>

    <a
        class="profile-btn"
        [href]="githubData.html_url"
        target="_blank"
    >
        Ver GitHub
    </a>

  </div>

  <div class="profile-card extra-info-card">
    <h2 class="section-title">SOBRE MÍ // DESARROLLADOR</h2>
    <p class="profile-text">
        <strong>Nombre:</strong> Bruce Carr
    </p>
    <p class="profile-text">
        <strong>Edad:</strong> 24 años
    </p>
    <p class="profile-text">
        <strong>Origen:</strong> Entre Ríos, Argentina
    </p>
    
    <hr class="card-divider">

    <h2 class="section-title">PROYECTO DESTACADO // JOKER'S TRAP</h2>
    <p class="profile-text">
        Para esta plataforma, además de los clásicos, desarrollé un juego propio e inédito llamado <strong>Joker's Trap</strong>.
    </p>
    <p class="profile-text">
        La idea y las mecánicas de supervivencia con cartas se me ocurrieron inspirado completamente en la atmósfera de tensión y estrategia de la serie <em>Alice in Borderland</em>. El objetivo fue replicar esa adrenalina de los juegos psicológicos en un flujo de código completamente funcional dentro de la terminal web.
    </p>
  </div>
</main>